@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.woff?fnjb29');
  src:  url('fonts/icomoon.woff?fnjb29') format('woff'),
  url('fonts/icomoon.ttf?fnjb29') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-gear:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-sort-amount-asc:before {
  content: "\f160";
}
.icon-sort-amount-desc:before {
  content: "\f161";
}
.icon-file-excel:before {
  content: "\f1c3";
}
